* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #FF8C00;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #ffc200;
  text-align: center;
  border: 1px solid #ff8b00;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  text-shadow: 1px 1px 2px black;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
  text-shadow: 1px 1px 2px black;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
  text-shadow: 1px 1px 2px black;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  text-shadow: 1px 1px 2px black;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #ffc200;
  border: none;
  border-radius: 5px;
  text-shadow: 1px 1px 2px black;
}
.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
  text-shadow: 1px 1px 2px black;
}
.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px black;
}

.circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}

.headers {
  margin: -47px auto 0px;
  color: white;
  text-shadow: 1px 1px 2px black;
  position: fixed;
  left: 35%;
}

.aa {
  color: white;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}