table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	border-collapse: collapse;
	color: #000000;
    position: relative;
    margin-top: 60%;
    z-index: 4;
}

caption {
  padding: 10px;
  color: white;
  background: #8FD4C1;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}

th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
}

tr:nth-child(odd) {
  background: white;
}

tr:nth-child(even) {
  background: #E8E6D1;
}